<footer class="c-footer">
    <div class="wrapper">
        <div class="u-container c-footer__container c-footer_social">
            <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
                {% if site.gitlabUsername %}
                    <a href="https://gitlab.com/{{ site.gitlabUsername }}" alt="GitLab" title="GitLab">
                        <img class="icon" src="/img/gitlab-original.svg" onmouseover="this.src='/img/gitlab-alpha.svg';" onmouseout="this.src='/img/gitlab-original.svg';" height="50px">
                    </a>
                    <img src="/img/gitlab-alpha.svg" class="c-preload-img" height="50px">
                {% endif %}
                {% if site.slackURL %}
                    <a href="{{ site.slackURL }}" alt="Slack" title="Slack">
                        <img class="icon" src="/img/slack-original.svg" onmouseover="this.src='/img/slack-alpha.svg';" onmouseout="this.src='/img/slack-original.svg';" height="50px">
                    </a>
                        <img src="/img/slack-alpha.svg" class="c-preload-img" height="50px">
                {% endif %}
        </div>
    </div>
</footer>
