/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
$c__red: #F44336;
$c__pink: #E91E63;
$c__purple: #9C27B0;
$c__perriwinkle: #C9CFFF;
$c__jordy-blue: #8C96FF;
$c__very-light-blue: #7057FF;
$c__deep-purple: #673AB7;
$c__ocean-blue: #4A2BC5;
$c__pixie-powder: #362090;
$c__indigo: #3F51B5;
$c__blue: #2196F3;
$c__light-blue: #03A9F4;
$c__cyan: #00BCD4;
$c__teal: #009688;
$c__green: #4CAF50;
$c__light-green: #8BC34A;
$c__lime: #CDDC39;
$c__yellow: #FFEB3B;
$c__amber: #FFC107;
$c__orange: #FF9800;
$c__deep-orange: #FF5722;
$c__brown: #795548;
$c__grey: #9E9E9E;
$c__light-grey: #FAFAFA;
$c__athens-grey: #EFF1F3;
$c__blue-grey: #607D8B;
$c__abbey: #515862;
$c__black: #000000;
$c__white: #ffffff;

// Theme
$t-theme: $c__ocean-blue;

// Responsive - Media Queries
$mobile-nav: 1125px;
$mobile-nav-width: 850px;
$header-shrink: 580px;
$spacing-unit: 5px;
$base-line-height: 1.5;

