/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: 116rem; // 1160px
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}
