/* ==========================================================================
   Article
   ========================================================================== */

.c-article {
    background-color: $c__perriwinkle;
}

.c-article__main {
    max-width: 76rem; // 760px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    @include fs--body;

    > * {
        margin-bottom: 1.8rem;
        color: rgba($c__black, .7);
    }

    a:not(.c-btn) {
        text-decoration: underline;
    }

    blockquote {
        margin-left: -2.5rem;
        width: calc(100% + 5rem);
        padding: 2.5rem;
        background: $c__perriwinkle;
    }

  ul, ol {
        margin-left: 40px;
  }
}
