/* ==========================================================================
   Buttons
   ========================================================================== */

// Base button
.c-btn {
    padding: 1.5rem 2rem;
    @include fs--meta;
    text-decoration: none;
    background: $c__light-grey;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 3px;
}

// Button groups
.c-btn-group {
    display: flex;
    justify-content: space-between;
}
