/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
    padding-top: 14.1rem; // 75px
    padding-bottom: 14.1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 0px;
    background: $c__jordy-blue;

    p {
        @include fs--meta;
    }

    a:not(:first-of-type) {
        margin-left: 2rem;
    }
}

.c-footer__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    max-width: -webkit-calc(900px - (#{$spacing-unit} * 2));
    max-width:         calc(900px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($mobile-nav) {
        display: block;
        text-align: center;
        max-width: -webkit-calc(1000px - (#{$spacing-unit}));
        max-width:         calc(1000px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;

        img.icon {
            display: inline-block;
            padding-top: $spacing-unit * 1.5;
        }
    }
}

.c-footer__social {
    display: block;
    padding: 50px;
}

.c-preload-img  {
    display: none;
}


img.icon {
    display: inline-block;
    vertical-align: middle;

    path {
        fill: $c__perriwinkle;
    }

}