/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
    padding-top: 14.1rem; // 75px
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    background: $t-theme;
    position: relative;
}

.c-header__title {
    position: relative;
    @include ff--mono(500);
    @include fs--title;
    color: $c__white;

    &:after {
      margin-left: .5rem;
      color: rgba(#fff, .5);
    }

    @include media-query($mobile-nav) {
        @include fs--heading-2;
    }

    @include media-query($header-shrink) {
        @include fs--heading-3;
    }

    span {
      color: rgba(#fff, .5);
    }
}

img.c-header__title {
    padding-left: 75px;
    padding-bottom: 25px;
    height: 220px;

    @include media-query($mobile-nav) {
        height: 150px;
    }

    @include media-query($header-shrink) {
        height: 120px;
    }

}