/* ==========================================================================
   Navigation
   ========================================================================== */

.c-navigation {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2.5rem;
    width: 100%;
    background: $t-theme;
    z-index: 15;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 10px;
      background: linear-gradient(to bottom, rgba(#000, .25), rgba(#000, 0));

      @include media-query($mobile-nav) {
         top: 100%;
      }

    }

    &.is-fixed {
      position: fixed;
      will-change: transform;
    }

}

.c-navigation__item {
    position: relative;
    display: inline-block;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    @include ff--mono(500);
    @include fs--meta;
    color: $c__white;
    text-transform: uppercase;

    &:not(:last-of-type) {
        margin-right: 2.5rem;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: transparent;
        transition: background ease-in-out 0.2s;
    }

    &:hover {
        background: $c__pixie-powder;
        color: $c__white;
    }

    &:hover:after,
    &.is-active:after {
        background: $c__white;
    }

    &:not(.masthead) {
        &:not(.trigger) {
            &:not(.c-nav-trigger) {
                @include media-query($mobile-nav) {
                    display:none;
                }
            }
        }
    }
}

.masthead {
    font-weight: bold;
    @include media-query($mobile-nav) {
      float: left;
    }
 }

.c-navigation__item {
    color: $c__white;

    &:not(:first-child) {
      margin-left: 20px;
    }
}

.c-navigation__container {
    line-height: 56px;
    top: 100%;


.c-mobile-nav {
      float: right;
      position: absolute;
      right: 30px;

      @include media-query($mobile-nav) {
          border: 1px solid $c__white;
          border-radius: 5px;
          margin-top: 5px;
          z-index: 15;
          background: $c__ocean-blue;
          top: 5px;

          &:hover {
              width: 250px;
              margin: 5px 0px 0px 0px;

          }
          &:hover .trigger {
              display :block;
          }
      }

      @include media-query($mobile-nav-width){
          &:hover {
              width: 170px;
              margin: 5px 0px 0px 0px;
          }
      }
}

.menu-icon {
    display: none;

    @include media-query($mobile-nav) {
        display: inline-block;
        align-items: center;
        float: right;
        margin-top: 12px;

        > svg {
            width: 18px;
            height: 25px;

            path {
                fill: $c__white;
            }
        }
    }
}

a.menu-icon {
    line-height: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    height: 25px;
    width: 18px;
}

    .c-nav-trigger {
        display: flex;
        align-items: center;
        float: right;
        margin-top: 12px;

        @include media-query($mobile-nav) {
            &:first-of-type {
                margin-left: 20px;
            }

            &:last-of-type {
              margin-bottom: 5px;
            }
        }
    }
}

.trigger {
    display: none;
}