/* ==========================================================================
   Blue Theme
   ========================================================================== */

.t-blue {

    .c-navigation,
    .c-header {
        background: $c__blue;
    }

    .c-article__main a:not(.c-btn) {
        color: $c__blue;
    }

    .c-footer a {
        color: $c__blue;
    }
}
