<!DOCTYPE html>
<html class="t-{{ site.themeColor }}">
    {% include head.html %}
    <body>
      {% include navigation.html %}

      {{ content }}

      {% include footer.html %}
    </body>
</html>
