---
layout: default
---
<article class="c-article">
    <header class="c-header c-article__header">
        <div class="u-container">
          <h1 class="c-header__title">{{ page.title }}</h1>

          <img class="c-header__title" src="/img/pushfish.svg" height="220px;">
        </div>
    </header>

    <div class="c-article__main">
        {{ content }}
    </div>
</article>
